body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    margin-bottom: 90px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.header-links-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 200px;
}

.header-link {
    font-size: 18px;
}

.left-top {
    color: #f9faf8;
    width: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
}

.demonslayer1 {
    object-fit: cover;
    object-position: center;
    width: 500px;
    height: 300px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.top {
    background-color: #1f2937;
    padding-bottom: 90px;
}