body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    margin-bottom: 90px;
    padding-top: 15px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.header-links-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 200px;
}

.header-link {
    font-size: 18px;
}

.left-top {
    color: #f9faf8;
    width: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
}

.demonslayer1 {
    object-fit: cover;
    object-position: center;
    width: 500px;
    height: 300px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.top {
    background-color: #1f2937;
    padding-bottom: 90px;
    margin-bottom: 40px;
}

.demonslayers {
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.imgae-and-subtexts-container {
    display: flex;
    justify-content: center;
    gap: 45px;

}

.demonslayer-subtext {
    width: 140px;
    text-align: center;
    margin: auto;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
}

.middle-top {
    margin-bottom: 90px;
}

.middle-middle {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 90px;
    
}

.middle-quote {
    font-size: 36px;
    color: #1f2937;
    width: 780px;
    font-style: italic;
}

.middle-quote-name {
    margin-left: 630px;
    font-weight: 900;
    font-size: 18px;
}

.middle-bottom {
    display: flex;
    justify-content: center;
    padding: 90px;
}

.middle-bottom-container {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 35px 75px;
    border-radius: 7px;

}

.call-to-action {
    font-weight: 900;
}

.call-to-action-sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 4px;
    font-weight: 900;
    padding: 4px 15px;
}

.middle-bottom-text-container {
    font-size: 24px;
}

.bottom {
    background-color: #1f2937;
    color: #e5e7eb;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

button {
    cursor: pointer;
}